body{
    background:url("https://images.unsplash.com/photo-1660209514955-032388bc33f7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size:cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height:100vh;
}
.clock{
    display:flex;
}
.clock div{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    margin:2rem;
    width:max-content;
    width:10rem;
    height:10rem;
    background-color:bisque;
    border-radius:0.5rem;
    position: relative;
}
span{
    font-size:2rem;
}
.text{
   position:relative;
   top:6rem;
   right:1rem;
   height:2rem;
   background-color:gold;
}
.ampm{
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: green;
}
