body{
    margin:0;
    padding:0;
    background-color:bisque;
    display:flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    color:wheat;
}

.container{
    border:thin solid black;
    background-color:dimgrey;
    padding:3rem;
}
textarea{
    width:100%;
    font-size:2rem;
}
.remaining-count{
    text-align:right;
}
.total{
    text-align: left;
}
.description{
    border:2px solid wheat;
    display:flex;
    justify-content: space-between;
    padding:1rem
    font-size:rem;
}