body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
}
.slider-container{
    position: relative;
    width:20%;
    overflow: hidden;
    height:50%;
    border-radius:0.5rem;
    box-shadow:1rem rgba(0, 0, 0, 0.3);
  }

  .image-container {

    display: flex;
    transition: transform 0.4s ease-in-out;
  }
  .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 20px;
    opacity: 0.5;
    cursor: pointer;
  }
  
  .button.prev {
    left: 10px;
  }