body {
    margin: 0;
  }
  
  .top-container {
    background-image: url("https://images.unsplash.com/photo-1488751045188-3c55bbf9a3fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHNob3BwaW5nJTIwb25saW5lfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60");
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .top-container h1 {
    color: white;
    font-size:3rem;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    letter-spacing:0.25rem;
  }
  
  .text {
    margin: 3rem 5%;
    font-family: sans-serif;
  }
  
  .navbar {
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0.5rem rgba(0, 0, 0, 0.3);
    transition: background-color 0.4s;
  }
  
  .navbar ul {
    display: flex;
    list-style-type: none;
  }
  
  .navbar ul li a {
    text-decoration: none;
    margin: 0 1rem;
    color: black;
    font-family: cursive;
  }
  
  .navbar ul li a:hover {
    color: pink;
  }
  
  .navbar.active {
    background-color: black;
  }
  
  .navbar.active ul li a {
    color: white;
  }