body 
   {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    transition: .4s;
  }
  
  .input {
    visibility: hidden;
  }
  
  .label {
    position: absolute;
    width:5rem;
    height:2.5rem;
    background-color: lightgray;
    border-radius:1rem;
    cursor: pointer;
  }
  
  .circle {
    width:2rem;
    background-color: white;
    height:2rem;
    border-radius: 50%;
    top:0.25rem;
    position: absolute;
    left:0.25rem;
    animation: toggleOff 0.4s linear forwards;
  }
  
  .input:checked + .label {
    background-color: white;
  }
  
  .input:checked + .label .circle {
    animation: toggleOn 0.4s linear forwards;
    background-color: black;
  }
  
  @keyframes toggleOn {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(2.5rem);
    }
  }
  
  @keyframes toggleOff {
    0% {
      transform: translateX(2.5rem);
    }
    100% {
      transform: translateX(0);
    }
  }