body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    height:100vh;
}

.counter-container{
    display: flex;
    border:2px solid black;
    border-radius:50%;
    background-color: darkcyan;
    padding:10rem;
    text-align: center;
    color:white;
}
 button{
    display:inline-block;
    width:max-content;
    height:6rem;
    font-size:2rem;
    
 }
 .text{
    font-size: 3rem;
    margin:2rem;
 }