body{
    background-color:indianred;
    display:flex;
    flex-direction:column;
    align-items: center;
}

   img {
    margin:1rem;
    border-radius:0.5px;
    box-shadow: 1rem black;
    background-color: lightgray;
  }
  
  .button {
    background-color:cadetblue;
    padding:1rem 2rem;
    margin:1rem;
    color: white;
    font-size: 1rem;
    border-radius:0.5rem;
    box-shadow: 1rem  rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  .button:hover {
    opacity: 0.9;
  }