body{
    background-image:linear-gradient(to left,rgb(129, 129, 176),rgb(235, 95, 118));
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
.multiplication-container{
    background-color:chocolate;
    border:thick solid orangered;
    border-radius:0.5rem;
    padding:3rem;
    box-shadow: 2rem;
}
input{
    display:block;
    width:100%;
    height:4rem;
    border:thick solid yellowgreen;
    margin-top:1rem;
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
    padding:0.8rem;
}
 h4{
    display:flex;
    justify-content: flex-end;
    font-size:2rem;
    color:yellowgreen;
 }
 h2{
    font-size:3rem;
 }