body{
    background-color: burlywood;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.button{
    border:thin solid black;
    border-radius:2rem;
    padding:1rem;
    width:6rem;
    height:2rem;
    text-align: center;
    text-decoration: none;
    font-size:2rem;
    color:rebeccapurple;
    background-color:palevioletred;
    position: relative;
    overflow: hidden;
} 
.button span {
    position: relative;
    z-index: 1;
  }
  .button::before {
    content: "";
    position: absolute;
    background-color: orangered;
    width: 0;
    height: 0;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;
  }
  
  .button:hover::before {
    width:200px;
    height:200px;
  }